<app-header></app-header>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bloc-description text-right">
        <span class="ico-search-product"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control form-control-sm form-control-search-product-altsoap" placeholder="search">
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bloc-description">
      <h5 class="title-page-produit">TOUS NOS PRODUITS</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum deserunt dignissimos dolor eveniet explicabo inventore, labore neque nobis p
        erferendis soluta! Ad exercitationem facilis fuga illo obcaecati! Aut dicta inventore ratione.
      </p>
    </div>
  </div>
</div>


<div class="container container-list">
  <app-list-product></app-list-product>
</div>

<!--FOOTER-->
<app-footer></app-footer>
