

div.title-section-commande{
  padding: 0 0 27px;
  color: var(--color-font-base);
}
div.title-section-commande h5{
  font-size: var(--font-size-title);
}

.img-product-cpmmande{
 /* overflow: hidden;*/
  position: relative!important;
}
div.img-product-commande_{
  /*width: 215px!important;*/
  position: absolute;

  width: 215px;
  height: 210px;
}

div.img-product-commande_  img{
  width: 100%;
}
div.img-etiquette-price-commande img{
  width: 180px;
  position: absolute;

}
div.img-etiquette-price-commande label.label-price-commande{
  position: absolute;
  color: #fff;
  top: 18px;
  left: 29px;
}

div.content-product-commnade{
  padding: 62px 47px 0;
}

div.sect-content-product-commande{
  position: relative;
  left: 205px;
  top: -8px;
  width: 70%;
}

div.content-product-commnade .title-product-commande h5{
  color: var(--color-success);
  font-size: 17px!important;
}
div.content-product-commnade .desc-product-commande p{
  color: var(--color-font-base-black);
  font-size: 15px!important;
}
.btn-danger a{
  color: #ffffff;
}
.btn-danger a:hover{
  text-decoration: none;
}
.label-qte{
  color: var(--color-fond-base-clair);
  font-size: 16px;
}
.qte_{
  border: 1px solid #8e8e8e;
  padding: 2px 20px;
  border-radius: 10px;
}

div.sect-total{
  background-color: var(--color-fond-base-clair);
  padding: 32px 38px;
  text-align: center;
  margin: 58px 0 40px 0;
}
div.sect-total span{
  color: #ffffff;
  font-size: 16px;
}
div.sect-total span.mont-total{
  border: 1px solid #e4e4e4;
  background-color: #fff;
  color: #2f2f2f;
  padding: 4px 28px;
  border-radius: 12px;
}

div.sect-action-buy{
  text-align: right;
  margin: 58px 0 40px 0;
}

