<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 title-section-commande">
    <h5> <i class="fa fa-list-alt"></i>&nbsp;&nbsp;&nbsp;TOUS LES COMMANDES EN COURS</h5>
  </div>

  <!--debut bloc list commande 1-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 card-list-commande">
      <div class="row">
          <div class="img-product-cpmmande">
            <div class="img-product-commande_">
              <img class="" src="../../../assets/images/products/22.jpg" alt="">
            </div>
            <div class="sect-content-product-commande text-left">
              <div class="img-etiquette-price-commande">
                <img src="../../../assets/images/products/etiquette-price.png" alt="">
                <label for="" class="label-price-commande">Prix : 2000 AR</label>
              </div>
              <div class="content-product-commnade">
                <div class="title-product-commande">
                  <h5> <b>RASP handmain</b></h5>
                </div>
                <div class="desc-product-commande">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicin
                      g elit. At aut blanditiis, commodi culpa
                      deserunt dolorum eius eos facilis id non porr
                      o, quod saepe vel? Eaque eius hic iure minus sequi!
                    </p>
                    <div class="qte-commande">
                         <span class="label-qte">Quantité(s)</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="qte_">2</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-danger">
                          <a href=""><i class="fa fa-trash"></i>&nbsp;&nbsp;Supprimer</a>
                        </button>
                    </div>

                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  <!-- fin bloc list commande 1-->
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <hr>
  </div>
  <!--debut bloc list commande 2-->
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 card-list-commande">
    <div class="row">
      <div class="img-product-cpmmande">
        <div class="img-product-commande_">
          <img class="" src="../../../assets/images/products/33.jpg" alt="">
        </div>
        <div class="sect-content-product-commande text-left">
          <div class="img-etiquette-price-commande">
            <img src="../../../assets/images/products/etiquette-price.png" alt="">
            <label for="" class="label-price-commande">Prix : 2000 AR</label>
          </div>
          <div class="content-product-commnade">
            <div class="title-product-commande">
              <h5> <b>RASP handmain</b></h5>
            </div>
            <div class="desc-product-commande">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicin
                g elit. At aut blanditiis, commodi culpa
                deserunt dolorum eius eos facilis id non porr
                o, quod saepe vel? Eaque eius hic iure minus sequi!
              </p>
              <div class="qte-commande">
                <span class="label-qte">Quantité(s)</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="qte_">2</span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-danger">
                  <a href=""><i class="fa fa-trash"></i>&nbsp;&nbsp;Supprimer</a>
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- fin bloc list commande 2-->

  <!--debut bloc total-->
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sect-total">
      <span><b>TOTAL</b></span>&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="mont-total">4000</span>&nbsp;&nbsp;&nbsp;
      <span class="devise-total">AR</span>
  </div>
  <!--fin bloc total-->
  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 sect-action-buy">
    <a routerLink="/payement"><button class="btn btn-warning btn-buy"> ACHETER</button></a>
  </div>
</div>
