<footer >
  <div class="separator-footer"></div>
  <div class="row footer">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left sect-foot">
      <img src="../../../assets/images/login/AltSoap/log.png" alt="" width="60px">
    </div>
  </div>
</footer>
