div.separator-footer{
  height: 5px;
  width: 100%;
  background-color: #b9e678;
  margin: 19px 0 0 0;
}
.footer{
  background-color: var(--color-fond-base-clair);
  padding: 7px 40px 8px 36px;
  margin: 0;
}
