

            <div class="animated fadeIn">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="card" style="width:1100px">
                      <div class="card-header">Detail commande
                        <div class="card-header-actions">
                          <button type="button" class="btn btn-secondary btn-sm" routerLink="/admin/allorder"><i class="fa fa-align-justify"></i>&nbsp;Retour à la liste</button>
                        </div>
                      </div>
                      <div class="card-body">
                          <div class="bd-example">
                              <dl class="row">
                              <dt class="col-sm-3">Nom du client</dt>
                              <dd class="col-sm-9">Samppa Nori</dd>
                      
                              <dt class="col-sm-3">Date commande</dt>
                              <dd class="col-sm-9">22/01/20</dd>
                      
                              <dt class="col-sm-3">Etat</dt>
                              <dd class="col-sm-9"><span class="badge badge-warning">En attente</span></dd>
                          </dl>
                        <table class="table" style="width:900px">
                          <thead>
                            <tr>
                              <th>Nom du produit</th>
                              <th>Quantité</th>
                              <th>Prix Unitaire</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Savon</td>
                              <td>10</td>
                              <td>1500 ar</td>
                            </tr>
                            <tr>
                                <td>Savon</td>
                                <td>10</td>
                                <td>1500 ar</td>
                            </tr>
                            <tr>
                                <td>Savon</td>
                                <td>10</td>
                                <td>1500 ar</td>
                            </tr>
                            <tr>
                              <td></td>
                              <td><b>Prix total</b></td>
                              <td>50 000 ar </td>
                            </tr>
                            
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
            </div>









