

            <div class="animated fadeIn">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="card">
                      <div class="card-header">Tous les commandes
                      
                      </div>
                      <div class="card-body">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Nom du client</th>
                              <th>Date</th>
                              <th>Etat</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Samppa Nori</td>
                              <td>22/01/20 </td>
                              <td><span class="badge badge-warning">En attente</span></td>
                              <td>
                                  <i class="fa fa-search " routerLink="/admin/orderdetail"></i>
                              </td>
                            </tr>
                            <tr>
                              <td>Estavan Lykos</td>
                              <td>22/01/20 </td>
                              <td><span class="badge badge-warning">En attente</span></td>
                              <td>
                                  <i class="fa fa-search " routerLink=""></i>
                              </td>
                            </tr>
                            <tr>
                              <td>Chetan Mohamed</td>
                              <td>22/01/20 </td>
                              <td><span class="badge badge-success">Effectué</span></td>
                              <td>
                                  <i class="fa fa-search " routerLink="/admin/orderdetail"></i>
                              </td>
                            </tr>
                            <tr>
                              <td>Derick Maximinus</td>
                              <td>22/01/20 </td>
                              <td><span class="badge badge-success">Effectué</span></td>
                              <td>
                                  <i class="fa fa-search " routerLink="/admin/orderdetail"></i>
                              </td>
                            </tr>
                            <tr>
                              <td>Friderik Dávid</td>
                              <td>22/01/20 </td>
                              <td><span class="badge badge-warning">En attente</span></td>
                              <td>
                                  <i class="fa fa-search " routerLink="/admin/orderdetail"></i>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <ul class="pagination">
                          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                          <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item"><a class="page-link" href="#">4</a></li>
                          <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
            </div>









