<div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-6">
        <div class="card" style="width:1100px">
          <div class="card-header">Don d'huile
          </div>
          <div class="card-body">
            <table class="table" style="width:900px">
              <thead>
                <tr>
                  <th>Date registered</th>
                  <th>Hours</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>2012/01/01</td>
                  <td>8:30</td>
                  <td>
                    <span class="badge badge-success">Reçu</span>
                  </td>
                  <td>
                      <i class="fa fa-search " routerLink=""></i>
                  </td>
                </tr>
                <tr>
                  <td>2012/02/01</td>
                  <td>9:00</td>
                  <td>
                  </td>
                  <td>
                      <i class="fa fa-search " routerLink=""></i>
                  </td>
                </tr>
                <tr>
                  <td>2012/02/01</td>
                  <td>8:30</td>
                  <td>
                    <span class="badge badge-succes">Reçu</span>
                  </td>
                  <td>
                      <i class="fa fa-search " routerLink=""></i>
                  </td>
                </tr>
              </tbody>
            </table>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </div>
        </div>
      </div>
      </div>
