<app-header></app-header>
<div class="wrapper" id="menu">
    <h4>MON PANIER</h4>
    <p>Tous les produits que vous avez commandées sont listés ici</p>
    <nav>
        
        <div id="search">
            <input type="search" 
            aria-label="Search through site content">
            <button>Search</button>
        </div>
    </nav>

    
                            
</div>
<app-footer></app-footer>
