<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Nouvel utilisateur</strong>
        </div>
        <div class="card-body">
            <form [formGroup]="userForm" (ngSubmit)="addUser()">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Nom</label>
              <div class="col-md-9">
                <input type="text" formControlName="name" class="form-control" placeholder="Nom">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="email-input">Email Input</label>
              <div class="col-md-9">
                <input type="email" formControlName="mail" class="form-control" placeholder="Entrer Email" autocomplete="email">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="password-input">Password</label>
              <div class="col-md-9">
                <input type="password" formControlName="password" class="form-control" placeholder="Password" autocomplete="current-password">
              </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="password-input"> Confirm Password</label>
                <div class="col-md-9">
                  <input type="password" formControlName="confirmpassword" class="form-control" placeholder="Password" autocomplete="current-password">
                </div>
              </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select3">Role</label>
              <div class="col-md-9">
                <select id="select3" name="select3" class="form-control form-control-sm">
                  <option value="0">Administrateur</option>
                  <option value="1">Manager</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button style="background-color:#1ca7a0" type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Ajouter</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Annuler</button>
        </div>
      </div>
   </div><!--/.col-->
  </div><!--/.row-->
</div>
