<footer >
  <div class="separator-footer"></div>
   <div class="row footer">
     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center sect-foot">
       <img src="../../assets/images/login/AltSoap/log.png" alt=""><br>
       <span class="fb-ico"><i class="fa fa-facebook-official"></i></span>
       <span class="skype-ico"><i class="fa fa-skype"></i></span>
       <span class="youtube-ico"><i class="fa fa-youtube"></i></span>
     </div>
     <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-left sect-foot">
       <h5 class="a-propos-contact">A PROPOS ET CONTACT</h5>
       <p class="desc-a-propos">
         Lorem ipsum dolor sit amet, consectetur adipisicing elit.
         A, asperiores assumenda at consequuntur eveniet, e
         x fuga fugit hic illo, illum ipsam iure laudantium o
         dit officia placeat quod sapiente unde vero?
       </p>
       <div class="contact-m-p col-lg-12 col-md-12 col-sm-12 col-xs-12">
           <span class="mail-ico"><i class="fa fa-link"></i></span> &nbsp;&nbsp;&nbsp;
           <span><a href="" class="lien-site" title="Cliquer pour naviguer vers le site">altsoap.com</a></span><br>
           <span class="mail-ico"><i class="fa fa-envelope"></i></span> &nbsp;&nbsp;&nbsp;
           <span>altsoap@gmail.com</span><br>
           <span class="phone-ico"><i class="fa fa-phone"></i></span> &nbsp;&nbsp;&nbsp;
           <span>+261 33 545 454 444</span>
       </div>
     </div>
   </div>
</footer>
