div.separator-footer{
  height: 5px;
  width: 100%;
  background-color: #b9e678;
  margin: 19px 0 0 0;
}
.footer{
	background-color: var(--color-fond-base-clair);
  padding: 18px 0 35px 0;
  margin: 0;
}
h5.a-propos-contact, h5.suivez-nous{
  margin: 37px 0 16px 0;
  color: #ffffff;
  font-size: 16px;
}

p.desc-a-propos{
  font-size: 16px;
  color: #ffffff;
}

a.lien-site{
  text-decoration: underline;
  color: #ffffff!important;
}
a.lien-site:hover{
  cursor: pointer;
}
span.fb-ico, span.skype-ico, span.youtube-ico{
  color: #ffffff;
  font-size: 33px;
  padding: 0 11px;
}

div.contact-m-p{
  color: #ffffff;
  line-height: 2;
  font-size: 16px;
  border-left: 4px solid #ffffffe0;
}

span.fb-ico:hover, span.skype-ico:hover, span.youtube-ico:hover{
  color: #154442;
  cursor: pointer;
  transition: 0.4s;
}

.sect-foot{
  padding: 0 45px;
}
