<app-header></app-header>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bloc-description text-left">
        <span class="devise-select">Devise en</span>
        <select name="" id="" class="form-control form-control-sm select-form">
          <option value="">Ariary</option>
          <option value="">Fmg</option>
        </select>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bloc-description text-right">
        <span class="ico-search-product"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control form-control-sm form-control-search-product-altsoap" placeholder="search">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bloc-description">
      <h5 class="title-panier-produit">MON PANIER</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum deserunt dignissimos dolor eveniet explicabo inventore, labore neque nobis p
        erferendis soluta! Ad exercitationem facilis fuga illo obcaecati! Aut dicta inventore ratione.
      </p>
    </div>
  </div>
</div>

<div class="container">
    <app-commande-list></app-commande-list>
    <!-- <router-outlet></router-outlet>-->
</div>

<!--FOOTER-->
<app-second-footer></app-second-footer>
