div.container-fluid{
  background-color: var(--color-fond-base-clair);
}

div.bloc-description{
  padding: 20px 0;
}

div.bloc-description h5.title-panier-produit{
  color: var(--color-font-base);
  font-size: var(--font-size-title);
}

div.bloc-description p{
  color: var(--color-font-base-black);
  font-size: var(--font-size-content);
}


input.form-control-search-product-altsoap{
  width: 230px;
  margin-left: auto;
  border-radius: 30px;
}

span.ico-search-product{
  position: absolute;
  right: 259px;
  font-size: 21px;
  color: white;
}
.devise-select{
  color: #ffffff;
  position: absolute;
  font-size: 18px;
  top: 22px;
}

.select-form{
  width: 40%;
  margin-left: 91px;
  border-radius: 21px;
}
