/*
#menu{
	grid-column: 1/ span 12 ;
	grid-row: 5/6;
	background-color:rgb(186, 190, 190);
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(400px, auto);
}
*/
div.top-menu{
  position: absolute;
  z-index: 1;
  width: 100%;
}
.m-p-c {
  margin: 0;
  padding: 0;
}

div.principal-menu ul li {
  display: inline-block;
}

div.principal-menu ul li a {
  color: #1ca7a0;
}

div.principal-menu ul li.list-menu {
  padding: 15px 20px 15px ;
  border: 3px solid transparent;
}

div.principal-menu ul li:hover {
  cursor: pointer;
  transition: 0.4s;
  border-bottom: 3px solid #1ca7a0;
}

div.principal-menu ul li a:hover {
  text-decoration: none;
}

div.separat-ban {
 /* background-color: ;*/
}

div.principal-menu ul li i {
  font-size: 20px;
  color: #1ca7a0;
}

div.log-menu img {
  position: absolute;
  left: 61px;
  top: 12px;
}

div.banniere-head {
  border-bottom: 5px solid #b9e678;
 /* box-shadow: 0px 5px 40px -23px #000;*/
  padding: 0;
  position: relative;
}

.desc-head{
  position: absolute;
  top: 62px;
  left: 106px;
  padding-left: 48px;
  border-left: 2px solid #3cc4ae;
}
.desc-head h1{
  font-size: 25px;
  color: #2b9780;
}
.desc-head .contact-head{
  border: 1px solid var(--color-fond-base-clair);
  padding: 14px 34px;
  border-radius: 34px;
}
.desc-head .contact-head span{
  font-size: 18px;
}
.desc-head .contact-head:hover{
  cursor: pointer;
  transition: 0.4s;
  background-color: var(--color-fond-base-clair) ;
}
.desc-head .contact-head:hover span a{
  color: #ffffff;
}
.desc-head .contact-head span:hover a{
  text-decoration: none;
}
.desc-head .contact-head span a{
  color: var(--color-fond-base-clair);
}

i.ico-down{
  position: relative;
  top: -4px;
  left: 12px;
  font-size: 15px;
}

@media (max-width: 662px) {

}

div.sub-menu-profil{
  position: absolute;
  right: 0;
  background-color: white;
  box-shadow: 0px 1px 9px -6px black;
  width: 168px;
  top: 57px;
  padding: 0!important;
  text-align: center;
  display: none;
  z-index: 3;
}
li.profil-pp:hover div.sub-menu-profil{
  display: inline-block!important;
}
div.sub-menu-profil li label{
   color: #1aa79f;
}

.G-profil{
  padding: 13px 0;
}

.name-user{
  color: var(--color-fond-base-clair);
}

hr.hr-poprofil{
  margin: 0!important;
}

label.close-sub-menu{
  color: #909090;
}
label.close-sub-menu:hover{
  color: #ffffff;
}

.sub-menu-profil .g-profil_{
  width: 100%;
  padding: 4px 0;
  font-weight: 100;
  margin: 0;
}

.sub-menu-profil .g-profil_:hover{
  background-color: var(--color-fond-base-clair);
  border: none!important;
  transition: 0.4s;
  cursor: pointer;
  margin: 0;
  color: #ffffff;
}
.sub-menu-profil .g-profil_:hover a{
  color: white!important;
  text-decoration: none!important;
}

div.sub-menu-panier{
  position: absolute;
  right: 15px;
  background-color: white;
  box-shadow: 0px 1px 9px -6px black;
  width: 284px;
  top: 57px;
  padding: 0!important;
  display: none;
  z-index: 3;
}

.panier-menu:hover div.sub-menu-panier{
  display: block!important;
}

div.sub-menu-panier h5{
  background-color: var(--color-fond-base-clair);
  margin: 0;
  padding: 7px 18px;
  color: #ffffff;
}

.list-product-e-c{
  margin: 0;
  padding: 11px 0;
}

.list-product-e-c h5{
  color: var(--color-success)!important;
  background-color: transparent!important;
  padding: 0!important;
}

.list-product-e-c label{
  color: #afafaf !important;
  text-align: right;
  width: 100%;
}
.list-product-e-c:hover{
  transition: 0.4s;
  cursor: pointer;
  border-left: 4px solid #99d158;
  background-color: #f9f9f9;
}

div.notif-commande{
  background-color: #fb6262!important;
  top: 8px;
  position: absolute;
}

a.btn-list-success{
  width: 100%;
  background-color: var(--color-success);
  color: #ffffff!important;
  padding: 3px 3px;
  margin: 9px 0 16px 0;
}
a.btn-list-success:hover{
  background-color: #85ce4e;
  transition: 0.4s;
}
a.btn-list-success i{
  color: #ffffff!important;
  font-size: 12px!important;
}

li.side-menu{
  display: none!important;
}

@media (max-width: 1050px) {
  .contact-head{
    position: relative;
    top: -70px;
    left: 149px;
  }
}
@media (max-width: 810px) {
  .head-ban{
    visibility: hidden;
  }

  .contact-head{
    position: relative;
    top: -15px;
    left: 0;
  }
}
@media (max-width: 700px) {
  .banniere-head{
    height: 200px;
  }
}
@media (max-width: 672px) {
  li.list-show{
    display: none!important;
  }
  li.side-menu{
    display: inline-block!important;
  }
}

div.response-menu{
  position: absolute;
  right: 22%;
  top: 53px;
  width: 126px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 1px 9px -6px black;
  z-index: 999;
  padding: 12px 0;
}
div.response-menu label a{
  color: #adadad;
  font-weight: 100;
}
div.response-menu label{
  width: 100%;
}

div.response-menu label:hover{
  background-color: var(--color-fond-base-clair);
  font-weight: 200;
  transition: 0.4s;
  cursor: pointer;
}
div.response-menu label:hover a{
  color: #ffffff;
  text-decoration: none;
}
