<!--
<div class="wrapper" id="menu">
    <img src="../assets/logo-altsoap.png" />
    <nav class="main-nav">
            <ul>
                <li><a routerLinkActive="active" routerLink="/shoplist">Shop</a></li>
                <li><a routerLinkActive="active" routerLink="">Don d'huile</a></li>
                <li><a routerLinkActive="active" routerLink="">A propos</a></li>
                <li><a routerLinkActive="active" routerLink=""><input class="boutton" type="button" value="Panier"/></a></li>
                <li> <div class="dropdown">
                        <button class="dropbtn">Dropdown
                          <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                          <a routerLink="/login">Se connecter</a>
                        </div>
                      </div>
                    </li>
            </ul>
    </nav>

</div>
-->

<div class="container-fluid row m-p-c" style="background-color: #fff6;">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row top-menu">
      <div class="log-menu col-lg-4 col-md-4 col-sm-1 col-xs-2">
        <img src="../../assets/images/login/AltSoap/logo-blue.png" alt="" width="90px">
      </div>
      <div class="principal-menu col-lg-8 col-md-8 col-sm-11 col-xs-10 text-right">
        <ul class="m-lg-0 p-lg-0">
          <li class="list-menu side-menu" (click)="ShowSideMenuAction()"><span><i class="fa fa-list-alt"></i></span></li>
          <li class="list-menu list-show"><a routerLink="/shoplist">SHOP</a></li>
          <li class="list-menu list-show"><a routerLink="">DON D'HUILE</a></li>
          <li class="list-menu list-show"><a routerLink="">A PROPOS</a></li>
          <li class="list-menu panier-menu"><i class="fa fa-shopping-cart"></i>
              <div class="notif-commande badge badge-danger">0</div>
              <div class="sub-menu-panier text-left">
                  <h5>2 commandes en cours</h5>
                  <div class="row list-product-e-c">
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <img class="img-product_" src="../../assets/images/products/22.jpg" alt="" width="100%">
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <h5><b>RASP handmain</b></h5>
                        <span><b>2500 AR</b></span><br>
                        <label for="">le 05/06/20</label>
                      </div>
                  </div>

                  <div><hr class="hr-poprofil"></div>

                  <div class="row list-product-e-c">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                      <img class="img-product_" src="../../assets/images/products/33.jpg" alt="" width="100%">
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                      <h5><b>RASP handmain</b></h5>
                      <span><b>2500 AR</b></span><br>
                      <label for="">le 05/06/20</label>
                    </div>
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <a href="" class="btn btn-list-success" routerLink="/pendingorder"><i class="fa fa-list"></i>&nbsp;Voir plus</a>
                  </div>
              </div>
          </li>
          <li class="list-menu profil-pp"><i class="fa fa-user"></i><i class="fa fa-sort-down ico-down"></i>
              <div class="sub-menu-profil">
                  <div class="G-profil">
                    <label class="name-user" for="">Rakoto Be</label>
                      <hr class="hr-poprofil">
                      <label class="g-profil_" for="" routerLink="/account">Profile</label ><br>
                      <label class="g-profil_" (click)="logout()">Déconnexion</label >
                  </div>
              </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="response-menu" [hidden]="showSideMenu">
      <label for=""><a routerLink="/shoplist">SHOP</a></label>
      <label for=""><a routerLink="">DON D'HUILE</a></label>
      <label for=""><a routerLink="">A PROPOS</a></label>
      <label for="" class="close-sub-menu" (click)="hideSideMenu()"><i class="fa fa-times"></i></label>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 banniere-head" >
    <img src="../../assets/images/header/banniere-altsoap.jpg" width="100%" class="head-ban" >
    <div class="desc-head">
      <h1>ALTSOAP</h1><br>
      <div class="contact-head">
        <span><a href="">CONTACTEZ-NOUS</a></span>
      </div>
    </div>
  </div>
</div>

