
div.title-profil{
  margin: 46px 52px 2px 37px;
  border-bottom: 1px solid #e4e4e4;
  color: #5d5d5d;
  font-size: 18px;
}

table thead{
  background-color: #1ca69f;
  color: #fff;
}
tr td{
  padding: 9px 34px;
}

tr td a:hover{
  cursor: pointer;
}
