<app-menuprofil></app-menuprofil>

<div class="container">
  <div class="row title-profil">
    <label for="">
      <span><i class="fa fa-list-alt"></i></span>&nbsp;&nbsp;ACHATS EFFECTUEES
    </label>
  </div>

  <br><br>

  <div class="row m-t-b">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-bordered">
            <thead>
              <tr><td>DATE ET HEURE</td></tr>
            </thead>
            <tbody>
                <tr>
                  <td>01/20/2020&nbsp;&nbsp;|&nbsp;&nbsp; 08:00 &nbsp;&nbsp;
                    <a >Voir détails</a></td>
                </tr>
                <tr>
                  <td>01/20/2020&nbsp;&nbsp;|&nbsp;&nbsp; 08:00 &nbsp;&nbsp;
                    <a >Voir détails</a></td>
                </tr>
                <tr>
                  <td>01/20/2020&nbsp;&nbsp;|&nbsp;&nbsp; 08:00 &nbsp;&nbsp;
                    <a >Voir détails</a></td>
                </tr>
                <tr>
                  <td>01/20/2020&nbsp;&nbsp;|&nbsp;&nbsp; 08:00 &nbsp;&nbsp;
                    <a >Voir détails</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-right col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <ul class="pagination pagination-info" id="pagination">
        <li class="disabled"><a routerLink=""><i class="fa fa-caret-left"></i></a></li>
        <li class="active"><a routerLink="">1 <span class="sr-only">(current)</span></a></li>
        <li><a routerLink="">2</a></li>
        <li><a routerLink="">3</a></li>
        <li><a routerLink="">4</a></li>
        <li><a routerLink="">5</a></li>
        <li><a routerLink=""><i class="fa fa-caret-right"></i></a></li>
      </ul>
    </div>
  </div>
</div>


<!--FOOTER-->
<app-second-footer></app-second-footer>


