
div.title-profil{
  margin: 46px 52px 2px 37px;
  border-bottom: 1px solid #e4e4e4;
  color: #5d5d5d;
  font-size: 18px;
}

/* Style form control profil */
label.label-profil{
  font-size: 16px;
  color: var(--color-fond-base-clair);
}
input.form-controle-alt{
  border: none;
  border-bottom: 1px solid #12837d;
  width: 181px;
  color: #929292;
  font-size: 16px;
  text-align: center;
}

/* Style form control profil : focus */
input.form-controle-alt:focus{
  border-bottom: 1px solid #2ce8bd;
  outline: none !important;
}

div.m-t-b{
  margin: 15px 0;
}

.btn-save-action{
  padding: 0;
}
