<app-menuprofil></app-menuprofil>

<div class="container">
  <div class="row title-profil">
    <label for="">
      <span><i class="fa fa-lock"></i></span>&nbsp;&nbsp;SECURITY
    </label>
  </div>
  <br><br>
  <form action="">
    <div class="row m-t-b">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
        <label class="label-profil">Ancien mot de passe</label>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
        <input type="password" class="form-controle-alt" value="0000">
      </div>
    </div>
    <div class="row m-t-b">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
        <label  class="label-profil">Nouveau mot de passe</label>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
        <input type="password" class="form-controle-alt" value="000">
      </div>
    </div>
    <div class="row m-t-b">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
        <label  class="label-profil">Confirm mot de passe</label>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left">
        <input type="password" class="form-controle-alt" value="0000">
      </div>
    </div>
    <div class="row m-t-b">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-right btn-save-action">
        <br>
        <button class="btn btn-warning btn-edit"><a href=""> ENREGISTRER</a></button>
      </div>
    </div>
  </form>
</div>


<!--FOOTER-->
<app-second-footer></app-second-footer>

