<div class="bg-login">
  <div class="container-log">
    <div class="head-log text-center">
      <img src="../../assets/images/login/AltSoap/log.png" alt="Logo-altsoap" width="143px">
    </div>
    <div class="separate-log"></div>
    <div class="content-log">
      <div class="title-log">
        <h5>REGISTER</h5>
        <span class="close-log"><a routerLink="/shoplist"><i class="fa fa-times"></i></a></span>
      </div>
      <div class="form-log">
        <form [formGroup]="" >
          <span><i class="fa fa-user ico-log"></i></span>
          <input type="text" class="form-controle-log" formControlName="username" placeholder="Username"><br>
          <span><i class="fa fa-envelope ico-log envelop"></i></span>
          <input type="text" class="form-controle-log" formControlName="email" placeholder="E-mail"><br>
          <span><i class="fa fa-lock ico-log"></i></span>
          <input type="password" class="form-controle-log" formControlName="password" placeholder="Your password"><br>
          <span><i class="fa fa-lock ico-log confirm-pssw"></i></span>
          <input type="password" class="form-controle-log" formControlName="password" placeholder="Confirm password">
        </form>
      </div>
      <div class="action-log">
        <button class="btn btn-con-log">INSCRIRE</button>
      </div>
    </div>
  </div>
</div>
