
div.title-section-commande{
    padding: 27px 0;
    color: var(--color-font-base);
  }
  div.title-section-commande h5{
    font-size: var(--font-size-title);
  }



/* corps */
  div.container-fluid{
    background-color: var(--color-fond-base-clair);
  }
  
  div.bloc-description{
    padding: 20px 0;
  }
  
  div.bloc-description h5.title-panier-produit{
    color: var(--color-font-base);
    font-size: var(--font-size-title);
  }
  
  div.bloc-description p{
    color: var(--color-font-base-black);
    font-size: var(--font-size-content);
  }
  
  
  input.form-control-search-product-altsoap{
    width: 230px;
    margin-left: auto;
    border-radius: 30px;
  }
  
  span.ico-search-product{
    position: absolute;
    right: 259px;
    font-size: 21px;
    color: white;
  }
  .devise-select{
    color: #ffffff;
    position: absolute;
    font-size: 18px;
    top: 22px;
  }
  
  .select-form{
    width: 40%;
    margin-left: 91px;
    border-radius: 21px;
  }
  


/* Menu image */
div.principal-menu ul li {
    display: inline-block;
  }
  
  div.principal-menu ul li a {
    color: #1ca7a0;
  }
  
  div.principal-menu ul li.list-menu {
    padding: 15px 20px 15px ;
    border: 3px solid transparent;
  }
  
  div.principal-menu ul li:hover {
    cursor: pointer;
    transition: 0.4s;
    border-bottom: 3px solid #1ca7a0;
  }
  
  div.principal-menu ul li a:hover {
    text-decoration: none;
  }
  
  
  div.principal-menu ul li i {
    font-size: 20px;
    color: #1ca7a0;
  }
  
  /* Image logo */
  .logo{
      width: 90px;
      height: 70px;
  }

  .nombre{
      width: 70px;
  }
