<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bloc-description">
      <h5 class="title-panier-produit">TOUS NOS PRODUITS</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum deserunt dignissimos dolor eveniet explicabo inventore, labore neque nobis p
        erferendis soluta! Ad exercitationem facilis fuga illo obcaecati! Aut dicta inventore ratione.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bloc-description text-left">
        <span class="devise-select">Devise en</span>
        <select name="" id="" class="form-control form-control-sm select-form">
          <option value="">Ariary</option>
          <option value="">Fmg</option>
        </select>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bloc-description text-right">
        <span class="ico-search-product"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control form-control-sm form-control-search-product-altsoap" placeholder="search">
      </div>
    </div>
  </div>
</div>

<div class="container">


    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 title-section-commande">
        <h5> <i class="fa fa-list-alt"></i>&nbsp;&nbsp;&nbsp;OPTIONS DE PAIEMENT</h5>
        </div>

        <div class="principal-menu col-lg-12 col-md-12 col-sm-12 col-xs-11 text-left">
            <ul class="m-lg-0 p-lg-0">
                <li class="list-menu"><a routerLinkActive="active" routerLink="payement"><img class="logo" src="../../assets/images/logo payement/Carte bancaire.jpg" alt="carte bancaire"></a></li>
                <li class="list-menu"><a routerLinkActive="active" routerLink="orangemoney"><img class="logo" src="../../assets/images/logo payement/Orange money.png" alt="orange money"></a></li>
            </ul>
        </div>

        <form [formGroup]="orangemoneyForm" (ngSubmit)="payOrangeMoney()">
            <b>Obtener votre code de paiement depuis votre menu USSD Orange Money</b>
                <div class="form-group">
                    <label  class="col-sm-2 control-label">Numéro de mobile</label>
                    <div class="col-sm-20">
                        <input type="text" formControlName="numero" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" >Code de paiement</label>
                    <div class="col-sm-20">
                        <input  type="number" formControlName="code" >
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-20">
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </div>
            </form>
            
            
        
        



</div>


</div>


<!--FOOTER-->
<app-second-footer></app-second-footer>
