
  <form action="">
    <div class="row m-t-b">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
        <label class="label-profil">NOM</label>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-left">
        <input type="text" class="form-controle-alt" value="RAKOTONDRAIBENIRINA">
      </div>
    </div>
    <div class="row m-t-b">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
        <label  class="label-profil">PRENOM</label>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-left">
        <input type="text" class="form-controle-alt" value="Rakoto Jean Paul">
      </div>
    </div>
    <div class="row m-t-b">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
        <label  class="label-profil">E-Mail</label>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-left">
        <input type="text" class="form-controle-alt" value="rakoto@gmail.com">
      </div>
    </div>
    <div class="row m-t-b">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
        <label  class="label-profil">Téléphone</label>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-left">
        <input type="text" class="form-controle-alt" value="Aucune">
      </div>
    </div>
    <div class="row m-t-b">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
        <label  class="label-profil">Ville</label>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-left">
        <input type="text" class="form-controle-alt" value="ANTANANARIVO">
      </div>
    </div>
    <div class="row m-t-b">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
        <label  class="label-profil">ADRESSE</label>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-left">
        <input type="text" class="form-controle-alt" value="Lot 12 Ampandrana">
      </div>
    </div>
    <div class="row m-t-b">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-right">
        <br>
        <button class="btn btn-warning btn-edit"><a href=""> MODIFIER</a></button>
      </div>
    </div>
  </form>
