
/* Style form control profil */
label.label-profil{
  font-size: 16px;
  color: var(--color-fond-base-clair);
}
input.form-controle-alt{
  border: none;
  border-bottom: 1px solid #12837d;
  width: 350px;
  color: #929292;
  font-size: 16px;
}

/* Style form control profil : focus */
input.form-controle-alt:focus{
  border-bottom: 1px solid #2ce8bd;
  outline: none !important;
}

div.m-t-b{
  margin: 15px 0;
}
