<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
      <div class="card" style="width:1100px">
        <div class="card-header">
          <strong>Modifier produit</strong>
        </div>
        <div class="card-body">
            <form [formGroup]="editproductForm" (ngSubmit)="editProduct()">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Nom du produit</label>
              <div class="col-md-9">
                <input type="text" formControlName="name" class="form-control" placeholder="Savon">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" >Prix</label>
              <div class="col-md-9">
                <input type="number" formControlName="price" class="form-control" placeholder="1000 ar">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="textarea-input">Description</label>
              <div class="col-md-9">
                <textarea id="textarea-input" formControlName="describe" rows="9" class="form-control" placeholder="Content.."></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="email-input">Quantité disponible</label>
              <div class="col-md-9">
                <input type="number" formControlName="quantite" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="file-input">Image</label>
              <div class="col-md-9">
                <input type="file" id="file-input" formControlName="file-input">
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Modifier</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Annuler</button>
        </div>
      </div>
   </div><!--/.col-->
  </div><!--/.row-->
</div>
