
            <div class="animated fadeIn">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="card" style="width: 1100px" >
                          <div class="card-header">Tous les produits
                            <div class="card-header-actions">
                                    <button type="button" class="btn btn-secondary btn-sm" routerLink="/theme/addproduct"><i class="fa fa-plus"></i>&nbsp;Ajouter produit</button>
                            </div>
                          </div>
                          <div class="card-body">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th></th>
                                  <th>Nom du produit</th>
                                  <th>Prix Unitaire</th>
                                  <th>Quantité</th>
                                  <th>Actions</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>
                                    <img src="../../../assets/img/products/1.jpg" alt="image">
                                  </td>
                                  <td>Savon</td>
                                  <td>1500 ar</td>
                                  <td>10</td>
                                  <td>
                                    <span><i class="fa fa-edit" routerLink="/theme/editproduct"></i>&nbsp;<i class="fa fa-trash" ></i></span>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <img src="../../../assets/img/products/44.jpg" alt="image">
                                  </td>
                                  <td>Savon</td>
                                  <td>1500 ar</td>
                                  <td>10</td>
                                  <td>
                                    <span></span>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <img src="../../../assets/img/products/33.jpg" alt="image">
                                  </td>
                                  <td>Savon</td>
                                  <td>1500 ar</td>
                                  <td>10</td>
                                  <td>
                                    <span></span>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <img src="../../../assets/img/products/22.jpg" alt="image">
                                  </td>
                                  <td>Savon</td>
                                  <td>1500 ar</td>
                                  <td>10</td>
                                  <td>
                                    <span></span>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <img src="../../../assets/img/products/1.jpg" alt="image">
                                  </td>
                                  <td>Savon</td>
                                  <td>1500 ar</td>
                                  <td>10</td>
                                  <td>
                                    <span></span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <ul class="pagination">
                              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                              <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                              </li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item"><a class="page-link" href="#">4</a></li>
                              <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>










