div.principal-menu ul li {
    display: inline-block;
  }

  div.principal-menu ul li a {
    color: #0a0a0a;
  }

  div.principal-menu ul li.list-menu {
    padding-right: 15px 20px 15px ;
    border: 3px solid transparent;
  }

  div.principal-menu ul li:hover {
    cursor: pointer;
    transition: 0.4s;
    border-bottom: 3px solid #0c0c0c;
  }
  
  div.principal-menu ul li a:hover {
    text-decoration: none;
  }