

            <div class="animated fadeIn">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="card" style="width:900px">
                          <div class="card-header">
                              <div class="card-header-actions">
                                  <button type="button" class="btn btn-secondary btn-sm" routerLink="/theme/adduser"><i class="fa fa-plus"></i>&nbsp;Add user</button>
                              </div>
                              <div  class="principal-menu  text-left">
                                <ul>
                                  <li class="list-menu"><a routerLink="/theme/allUsers">Tous les utilisateurs</a></li>
                                  <li class="list-menu"><a routerLink="/theme/useradmin">Administrateurs</a></li>
                                  <li class="list-menu"><a routerLink="/theme/userclient">Clients</a></li>
                                </ul>
                               
                              </div>
                          </div>
                          <div class="card-body">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>Nom d'utilisateur</th>
                                  <th>Rôle</th>
                                  <th></th>
                                  <th></th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Samppa Nori</td>
                                  <td>Client</td>
                                  <td>
                                        <button type="button" class="btn btn-block btn-success btn-sm" routerLink="/theme/user">Voir</button>
                                  </td>
                                  <td>
                                        <button type="button" class="btn btn-block btn-warning btn-sm" routerLink="/theme/edituser" [disabled]="isClient" >Modifier</button>
                                  </td>
                                  <td>
                                        <button type="button" class="btn btn-block btn-danger btn-sm">Supprimer</button>
                                  </td>
                                </tr>
                                <tr>
                                  <td>Derick Maximinus</td>
                                  <td>Client</td>
                                  <td>
                                        <button type="button" class="btn btn-block btn-success btn-sm">Voir</button>
                                  </td>
                                  <td>
                                        <button type="button" class="btn btn-block btn-warning btn-sm"[disabled]="isClient">Modifier</button>
                                  </td>
                                  <td>
                                        <button type="button" class="btn btn-block btn-danger btn-sm">Supprimer</button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <ul class="pagination">
                              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                              <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                              </li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item"><a class="page-link" href="#">4</a></li>
                              <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>









