/*************************** STYLE CARD PRODUCT ********************************/
.container{

}
div.card-product{
  border: 1px solid var(--color-fond-base-clair);
  padding: 0 0 14px 0;
  margin: 25px 16px 25px 12px;
}
div.img-product{
  width: 100%;
  height: 241px;
  overflow: hidden;
  position: relative;
}
div.img-product_{
  position: relative;
}
.img-etiquette-price{
  height: 35px;
}
.img-etiquette-price img{
  position: relative;
  width: 192px;
  left: -12px;
  z-index: 1;
  bottom: 66px;
  top: -32px;
}

.title-product h5{
  margin: 11px 26px;
  font-size: 16px;
  color: #629D26;
}

.btn-success-altsoap{
  background-color: var(--color-success);
  padding: 3px 13px;
  color: #ffffff;
  width: 100%;
  margin-top: 7px;
}
.btn-warning-altsoap{
  background-color: var(--color-warning);
  padding: 3px 13px;
  color: #ffffff;
  width: 100%;
  margin-top: 7px;
}

label.label-price{
  position: relative;
  left: -172px;
  z-index: 1;
  top: -36px;
  bottom: 107px;
  color: white;
}

div.bloc-list-product{
  margin: 41px 0;
}

div.fond-black{
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1;
  position: absolute;
  opacity: 0.4;
  display: none;
}

div.card-product:hover{
  cursor: pointer;
}

div.card-product:hover div.fond-black,
div.card-product:hover div.add-panier {
  transition: 0.9s;
  cursor: pointer;
  display: block;
}

div.add-panier{
  position: absolute;
  z-index: 2;
  top: 36%;
  width: 53%;
  left: 23%;
  display: none;
}
button.btn-warning-altsoap:hover{
  background-color: #ff5e00;
  transition: 0.4s;
  cursor: pointer;
}

button.btn-success-altsoap:hover{
  background-color: #689e17;
  transition: 0.4s;
  cursor: pointer;
}

@media (max-width: 676px) {
  .img-product{
    height: 241px;
  }
}

button.btn-success-altsoap:focus{
  outline: none!important;
}
