<div class="row bloc-list-product">
  <!--debut card list product-->
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12  text-right">
      <div class="row card-product" >
        <div class="img-product">
          <div class="add-panier">
            <button class="btn btn-warning-altsoap"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp; Add to panier</button>
          </div>
          <div class="fond-black"></div>
          <img class="img-product_" src="../../../assets/images/products/1.jpg" alt="" width="100%">
        </div>
        <div class="content-product text-left">
          <div class="img-etiquette-price">
            <img src="../../assets/images/products/etiquette-price.png" alt="">
            <label for="" class="label-price">Prix : 2000 AR</label>
          </div>
          <div class="title-product">
            <h5> RASP handmain</h5>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
          <button class="btn btn-success-altsoap"><i class="fa fa-info-circle"></i>&nbsp;&nbsp; Plus d'infos</button>
        </div>
      </div>
    </div>
  <!--debut card list product-->

  <!--debut card list product-->
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12  text-right">
    <div class="row card-product" >
      <div class="img-product">
        <div class="add-panier">
          <button class="btn btn-warning-altsoap"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp; Add to panier</button>
        </div>
        <div class="fond-black"></div>
        <img class="img-product_" src="../../../assets/images/products/22.jpg" alt="" width="100%">
      </div>
      <div class="content-product text-left">
        <div class="img-etiquette-price">
          <img src="../../assets/images/products/etiquette-price.png" alt="">
          <label for="" class="label-price">Prix : 2000 AR</label>
        </div>
        <div class="title-product">
          <h5> RASP handmain</h5>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
        <button class="btn btn-success-altsoap"><i class="fa fa-info-circle"></i>&nbsp;&nbsp; Plus d'infos</button>
      </div>
    </div>
  </div>
  <!--debut card list product-->

  <!--debut card list product-->
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12  text-right">
    <div class="row card-product" >
      <div class="img-product">
        <div class="add-panier">
          <button class="btn btn-warning-altsoap"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp; Add to panier</button>
        </div>
        <div class="fond-black"></div>
        <img class="img-product_" src="../../../assets/images/products/44.jpg" alt="" width="100%">
      </div>
      <div class="content-product text-left">
        <div class="img-etiquette-price">
          <img src="../../assets/images/products/etiquette-price.png" alt="">
          <label for="" class="label-price">Prix : 2000 AR</label>
        </div>
        <div class="title-product">
          <h5> RASP handmain</h5>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
        <button class="btn btn-success-altsoap"><i class="fa fa-info-circle"></i>&nbsp;&nbsp; Plus d'infos</button>
      </div>
    </div>
  </div>
  <!--debut card list product-->

  <!--debut card list product-->
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12  text-right">
    <div class="row card-product" >
      <div class="img-product">
        <div class="add-panier">
          <button class="btn btn-warning-altsoap"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp; Add to panier</button>
        </div>
        <div class="fond-black"></div>
        <img class="img-product_" src="../../../assets/images/products/1.jpg" alt="" width="100%">
      </div>
      <div class="content-product text-left">
        <div class="img-etiquette-price">
          <img src="../../assets/images/products/etiquette-price.png" alt="">
          <label for="" class="label-price">Prix : 2000 AR</label>
        </div>
        <div class="title-product">
          <h5> RASP handmain</h5>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
        <button class="btn btn-success-altsoap"><i class="fa fa-info-circle"></i>&nbsp;&nbsp; Plus d'infos</button>
      </div>
    </div>
  </div>
  <!--debut card list product-->

  <!--debut card list product-->
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12  text-right">
    <div class="row card-product" >
      <div class="img-product">
        <div class="add-panier">
          <button class="btn btn-warning-altsoap"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp; Add to panier</button>
        </div>
        <div class="fond-black"></div>
        <img class="img-product_" src="../../../assets/images/products/22.jpg" alt="" width="100%">
      </div>
      <div class="content-product text-left">
        <div class="img-etiquette-price">
          <img src="../../assets/images/products/etiquette-price.png" alt="">
          <label for="" class="label-price">Prix : 2000 AR</label>
        </div>
        <div class="title-product">
          <h5> RASP handmain</h5>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
        <button class="btn btn-success-altsoap"><i class="fa fa-info-circle"></i>&nbsp;&nbsp; Plus d'infos</button>
      </div>
    </div>
  </div>
  <!--debut card list product-->

  <!--debut card list product-->
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12  text-right">
    <div class="row card-product" >
      <div class="img-product">
        <div class="add-panier">
          <button class="btn btn-warning-altsoap"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp; Add to panier</button>
        </div>
        <div class="fond-black"></div>
        <img class="img-product_" src="../../../assets/images/products/33.jpg" alt="" width="100%">
      </div>
      <div class="content-product text-left">
        <div class="img-etiquette-price">
          <img src="../../assets/images/products/etiquette-price.png" alt="">
          <label for="" class="label-price">Prix : 2000 AR</label>
        </div>
        <div class="title-product">
          <h5> RASP handmain</h5>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
        <button class="btn btn-success-altsoap"><i class="fa fa-info-circle"></i>&nbsp;&nbsp; Plus d'infos</button>
      </div>
    </div>
  </div>
  <!--debut card list product-->
</div>
