<app-menuprofil></app-menuprofil>

<div class="container">
  <div class="row title-profil">
    <label for="">
      <span><i class="fa fa-user"></i></span>&nbsp;&nbsp;PROFILE
    </label>
  </div>
  <br><br>
    <app-general-profil></app-general-profil>
</div>

<!--FOOTER-->
<app-second-footer></app-second-footer>
