/* You can add global styles to this file, and also import other style files */
.wrapper{
    display: grid;
    background-color:rgb(255, 255, 255);
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}

/*.milieu{
    float: center;
}*/

:root{
  /**** Color ****/
  --color-fond-base-clair : #1ca7a0;
  --color-fond-base-fonce : #12837d;
  --color-font-base : #088a83;
  --color-font-base-black : #585858;

  /**** font ****/
  --font-size-title : 18px;
  --font-size-content : 16px;

  --color-success : #91bd51;
  --color-warning : #eb7e49;
}


.btn-buy, .btn-edit{
  background-color: var(--color-warning);
  padding: 8px 30px;
}
.btn-buy:hover, .btn-edit:hover{
  background-color: #d06632;
}
.btn-buy a, .btn-edit a{
  color: #ffffff;
}
.btn-buy a:hover, .btn-edit a:hover{
  text-decoration: none;
}
button:focus{
  outline: none!important;
}
