#produit{
    grid-column: 1/ span 4 ;
	grid-row: 1;
	background-color:rgb(113, 114, 114);
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(400px, auto); 
}

#image{
	grid-column: 1/ span 4 ;
	width: 400px;
	height: 300px;
}

#description{
	grid-column: 5/ span 8 ;
}

nav{
	background-color: #1ca7a0;
	height: 70px;
}