<app-header></app-header>
<h4>DETAIL DU PRODUIT</h4>
<p>Les infos du produits</p>
<nav>SAVON AU RAVINTSARA</nav>
<div id="produit">
    <div id="image">
        <img src="" alt="photo savon"/>
    </div>
    <div id="description">
        <h5>SAVON AU RAVINTSARA</h5>
        <h6>Description</h6>
        <p>Ce savon est fabriqué en utilisant ...</p>
        <h6>Devise en ariary</h6>
        <h6>Prix: 1500 ar</h6>
        <h6>Made in Madagascar</h6>
        <button class="orange">Ajouter au panier</button>
    </div>
</div>

<app-footer></app-footer>