<app-header></app-header>
<div class="container-fluid">
   <div class="container">
       <div class="row">
           <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-right">
             <div class="bg-photo">
               <div class="photo-profil">
                 <img src="../../../assets/images/products/22.jpg" alt="" width="50px">
               </div>
             </div>
           </div>

           <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-left topnav-profile">
               <div class="topnav responsive" id="myTopnav">
                 <a  routerLinkActive="active" routerLink="/account">Générale</a>
                 <a routerLinkActive="active" routerLink="/security">Sécurité</a>
                 <a routerLinkActive="active" routerLink="/purchasemade">Liste des achats effectues</a>
               </div>
           </div>
       </div>
   </div>
</div>

