<div class="bg-login">
  <div class="container-log">
    <div class="head-log text-center">
      <img src="../../../assets/img/login/AltSoap/log.png" alt="Logo-altsoap" width="143px">
    </div>
    <div class="separate-log"></div>
    <div class="content-log">
      <div class="title-log">
        <h5>LOGIN</h5>
      </div>
      <div class="form-log">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <span><i class="fa fa-user ico-log"></i></span>
          <input type="text" class="form-controle-log" formControlName="email"><br>
          <span><i class="fa fa-lock ico-log"></i></span>
          <input type="password" class="form-controle-log" formControlName="password" >
        </form>
      </div>
      <div class="action-log">
        <button class="btn btn-con-log" routerLink="/admin/allorder">CONNEXION</button>
        <div class="row other-log">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-left lost-psswd">
            <a href="">Mot de passe oublié ?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
