
div.bg-login {
  background-color: #f3f3f3;
  padding: 85px 0 105px 0;
  overflow-y: hidden !important;
  background-image: url('../../../assets/img/login/AltSoap/backgroung-log.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

div.container-log {
  max-width: 393px !important;
  margin: 0 auto 0 auto;
  background-color: #fff;
  box-shadow: 0 8px 49px -25px black;
}

div.head-log {
  background-color: #12837d;
  padding: 8px 0;
  margin: 0 0 0 0;
}

div span.close-log {
  position: relative;
}

/******************* CSS CONTENT LOGIN *********************/
div.separate-log {
  background-color: #619e27;
  width: 100%;
  height: 5px;
}

div.content-log {
  padding: 23px 33px;
}

div.content-log h5 {
  font-size: 15px;
  color: #12837d;
}

div.title-log {
  position: relative;
}

div.title-log .close-log {
  position: absolute;
  top: -13px;
  right: 0;
  font-size: 18px;
  color: #adadad;
}

div.title-log .close-log:hover {
  cursor: pointer;
}

div.content-log span {
  font-size: 30px;
  color: #12837d;
}

input.form-controle-log {
  border: none;
  border-bottom: 1px solid #12837d;
  width: 78%;
  position: relative;
  left: 33px;
  margin: 17px auto;
}

span i.ico-log {
  position: relative;
  left: 11px;
  top: 6px;
}

div.action-log {
  margin: 27px 9px;
}

.btn-con-log {
  width: 100%;
  border-radius: 28px;
  background-color: #619e27;
  color: #fff;
  font-size: 14px;
}

div.link-register span, .link-register, .lost-psswd {
  font-size: 14px;
}

div.lost-psswd a {
  color: darkgrey;
}

div.link-register a {
  color: #12837d;
}

div.link-register span {
  color: #000;
}

div.other-log {
  margin: 10px -13px;
}

@media (max-width: 576px) {
  .link-register {
    position: relative;
    top: -20px;
  }
}


input.form-controle-log:focus{
  border-bottom: 1px solid #2ce8bd;
  outline: none !important;
}
