<div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-6">
            <div class="card" style="width:1100px">
                    <div class="card-header">Profil </div>
            </div>
            <div class="card-body">
                <div class="bd-example">
                    <dl class="row">
                    <dt class="col-sm-3">Login</dt>
                    <dd class="col-sm-9">Estavan 00</dd>

                    <dt class="col-sm-3">Nom complet</dt>
                    <dd class="col-sm-9">Estavan Lykos</dd>

                    <dt class="col-sm-3">Role</dt>
                    <dd class="col-sm-9">Admin</dd>
                    </dl>
                    <span>
                        <button type="button" class="btn btn-ghost-primary btn-sm" routerLink="/admin/alluser"><i class="fa fa-align-justify "></i>&nbsp;Retour à la liste</button>
                        <button type="button" class="btn btn-ghost-warning btn-sm" routerLink="/admin/edituser"><i class="fa fa-edit"></i>&nbsp;Modifier</button>
                        <button type="button" class="btn btn-ghost-danger btn-sm"><i class="fa fa-trash"></i>&nbsp;Supprimer</button>
                    </span>
                </div>
          </div>
        </div>
    </div>
</div>
