<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 bloc-description text-left title-section-paiement">
        <h5> <i class="fa fa-list-alt"></i>&nbsp;&nbsp;&nbsp;OPTIONS DE PAIEMENT</h5>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 bloc-description text-right title-section-paiement">
        <ul class="menu-p">
          <li><a routerLink="/shoplist"><i class="fa fa-shopping-bag"></i>&nbsp;&nbsp;SHOP LIST</a></li>
          <li><a routerLink="/pendingorder"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;MON PANIER</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <form [formGroup]="cbForm" (ngSubmit)="pay()">
          <div class="container container-paiement">
            <div class="row">
              <div class="principal-menu col-lg-12 col-md-12 col-sm-12 col-xs-11 text-center">
                <ul class="m-lg-0 p-lg-0">
                  <li class="list-menu"><a routerLinkActive="active" routerLink="payement"><img class="logo" src="../../assets/images/logo payement/Carte bancaire.jpg" alt="carte bancaire"></a></li>
                  <li class="list-menu"><a routerLinkActive="active" routerLink="/orangemoney"><img class="logo" src="../../assets/images/logo payement/Orange money.png" alt="orange money"></a></li>
                </ul>
                <div><hr></div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 m-5 text-right">
                <label  class="control-label">Numéro de carte</label>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 m-5 text-left">
                <input class="form-control form-group-sm form-cust " type="text" formControlName="numero" >
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 m-5 text-right">
                <label  class="control-label">Date d'expiration</label>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 m-5 text-left">
                <input  class="form-control form-group-sm nombre" type="number" formControlName="month" placeholder="mm">&nbsp;
                <input  class="form-control form-group-sm nombre" type="number" formControlName="year" placeholder="aa">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 m-5 text-right">
                <label  class="control-label">Cryptogramme visuel</label>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 m-5 text-left">
                <input  class="form-control form-group-sm nombre form-cust" type="number" formControlName="crypto" >
              </div>
            </div>
            <div><hr></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
               <button type="submit" class="btn btn-primary">Valider</button>
            </div>
          </div>
      </form>
    </div>
</div>


<!--FOOTER-->
<app-second-footer></app-second-footer>
